.main img{
    
    width:100%;
    height:60vh;
}
.textarea{
    position: absolute;
    top:170px;
    left:100px;
    display: inline-block;
}
.textarea span{
    color:aqua;
}
.textarea h1{
    font-size: 60px;
}
.textarea p{
    font-size: 30px;
}